{% extends "base.html" %}

{% block content %}

<h2>Edit Steam Log</h2>

<form method="POST">

    <label>Pressure</label>
    <input name="pressure" value="{{ log.pressure }}" class="form-control mb-2">

    <label>Temperature</label>
    <input name="temperature" value="{{ log.temperature }}" class="form-control mb-2">

    <label>Water Level</label>
    <input name="water_level" value="{{ log.water_level }}" class="form-control mb-2">

    <label>Fuel</label>
    <input name="fuel" value="{{ log.fuel }}" class="form-control mb-2">

    <label>Remark</label>
    <input name="remark" value="{{ log.remark }}" class="form-control mb-2">

    <button class="btn btn-primary">Update</button>

</form>

{% endblock %}