{% extends "base.html" %}

{% block content %}

<h2>Efficiency Dashboard</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card border-success mb-3">
            <div class="card-header">Latest</div>
            <div class="card-body">
                <h3>{{ latest_eff }} %</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-primary mb-3">
            <div class="card-header">Monthly Avg</div>
            <div class="card-body">
                <h3>{{ monthly_avg }} %</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-warning mb-3">
            <div class="card-header">Quarterly Avg</div>
            <div class="card-body">
                <h3>{{ quarterly_avg }} %</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-info mb-3">
            <div class="card-header">Semi-Annual Avg</div>
            <div class="card-body">
                <h3>{{ semi_avg }} %</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-danger mb-3">
            <div class="card-header">Yearly Avg</div>
            <div class="card-body">
                <h3>{{ yearly_avg }} %</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-dark mb-3">
            <div class="card-header">Overall Avg</div>
            <div class="card-body">
                <h3>{{ overall_avg }} %</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}